#retoSelected{
   color: aliceblue;
}
.area-superior-juego{
   display: flex;
  
}

/*ZONA JUGADORES*/
#zonaJugadores{
    display: flex;
   margin: 0.5rem 0.5rem;
   width: auto;
   margin-bottom: 1rem;
  
}



#zonaJugadores div{
   border: 1px solid white;
   margin: 0 0;
   background-color: wheat;
   border-radius: 1rem;
   color: white;
   padding: 0.3rem;
}

#zonaJugadores .players :first-child{
   background-color: #850049;
}
#zonaJugadores .players :last-child{
   background-color: white;
   color: black
}

/*DEAMANTE PARA LA META DEL JUEGO*/
.metaJuego{
   border: 1px solid beige;
   padding: 1rem;
   border-radius: 1rem;
   background-image: radial-gradient(circle at 50% -20.71%, #fe8f62 0, #ff8564 8.33%, #ff7967 16.67%, #ff6c6b 25%, #fd5e6e 33.33%, #f84e73 41.67%, #f23c78 50%, #ea287e 58.33%, #e10e86 66.67%, #d6008f 75%, #ca0098 83.33%, #bb00a3 91.67%, #aa00ae 100%);
   color: beige;
    font-weight: 800;
    font-size: large;
    text-align: center;
    margin-bottom: 1rem;
   
    
 }



/* */

.contenedorCuadros1{
   display: flex;
   justify-content: space-between;
   background-color: #850049;
   width: 100%;
   display: flex;
}



.contenedorCuadros3{
   display: flex;
   justify-content: space-between;
   background-color: #850049;
   width: 100%;
   display: flex;
}



.zonaMedia{
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: #00506d;
}

.rigthZone{
   display: flex;
}

.bottomZone{
   display: flex;

}

.cajasA, .cajasB, .cajasC, .cajasD{
       display: flex;
       width: 5rem;
       height: 5rem;
       border: 1px solid white;
       color: wheat;
       align-items: center;
       justify-content: center;
       text-align: center;
       
}


.menuBtnHomeZone{
   width: 100%;
   height: 10%;
   margin: 2rem 0;
   margin-bottom: 0;
   display: flex;
   justify-content: center;
   align-items: center;
}

.homeBtn{
   
   width: 5rem;
   text-align: center;
   padding: 0.5rem;
   font-weight: 800;
   background-color: rgb(214, 2, 104);
   box-shadow: rgba(0, 0, 0, 0.1) 15px 15px 15px;
   color: rgb(255, 255, 255);
   height: 2rem;
   width: 5rem;
   border-radius: 0.5rem;
   transition: background-color 1s ease 0s;
}

.homeBtn2{
  margin-top: 1rem;
  border: 1px solid black;
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  
   

}

#elTitulo{
   margin-bottom: 0.4rem; 
   color: white;
   border-radius: 0.5rem;
   padding: 0.3rem;
   background-color: #850049;
   border: 1px solid blanchedalmond;
 
}

#playGame{
   background-color: rgb(214, 2, 104);
   box-shadow: rgba(0, 0, 0, 0.1) 15px 15px 15px;
   color: white;
   font-weight: 800;
   height: 5rem;
   width: 5rem;
   border-radius: 50%;
   transition: background-color 1s ease 0s;
}



