
#popupContainer {
 
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
}

#popupBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  background-color: #333;
  padding: 20px;
  text-align: center;
  font-weight: 800;
}
#popupBox div {
  color: yellow;

}
.cajaPuntos{
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #fff;
   
}
#btnReclamar{
  background-color: #CC2830;
  color: aliceblue;
  font-size: large;
  width: 8rem;
  margin-top: 1rem;
  height: 3rem;
}

#closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

#closeButton:hover {
  color: red;
}  




/*Pop up home*/
#popupContainerHome {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
}

#tituloReto{
   display: flex;
   justify-content: space-between;
   align-items: center;
  color: white;
  background: linear-gradient(to bottom, rgba(40, 5, 73, 1), rgba(40, 5, 73, 0.5));
}

#tituloReto h2{
    margin-left: 0.4rem;
    display: flex;
    width: calc(80% - 10px) ;
    justify-content: space-evenly;
}

#value{
  border: 0.2rem solid rgba(83, 20, 143, 0.5);
  border-radius: 100%;
  padding: 0.2rem;
}
 

#tituloReto span{
     border: 2px solid  white;
     background-color: #a8033a;
     font-size: x-large;
     padding: 0.3rem 1rem;
     cursor: pointer;

}

#popupBoxHome {
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  background-color: #f4f4f4;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
}


#tituloReto span:hover {
  color: black;
  background-color: #4fee2f;
}
#btnAgregar{
  background-color: #a8033a;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 1rem;
  
}
#btnAgregar:hover {
  background-color: #d81b60;
}

.eliminar{
  background-image: radial-gradient(circle at -16.45% 74.18%, #ffcb8d 0, #ffcf83 5%, #ffd278 10%, #ffd46f 15%, #ffd666 20%, #efd65e 25%, #dbd657 30%, #c4d552 35%, #aad34f 40%, #8dd04e 45%, #6acc50 50%, #39c755 55%, #00c35e 60%, #00be69 65%, #00ba77 70%, #00b787 75%, #00b398 80%, #00b0ab 85%, #00aebd 90%, #00acd0 95%, #00aae2 100%);
  color: aliceblue;
 
  padding: 0.3rem;
  margin-bottom: 1rem;
  

}

#jugadores{
  display: flex;
  margin: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.jugador{
  margin: 0.2rem;
}
.jugador input{
     padding: 0.5rem;
     margin-right: 0.5rem;
     background-image: radial-gradient(circle at -16.45% 74.18%, #ffcb8d 0, #ffcf83 5%, #ffd278 10%, #ffd46f 15%, #ffd666 20%, #efd65e 25%, #dbd657 30%, #c4d552 35%, #aad34f 40%, #8dd04e 45%, #6acc50 50%, #39c755 55%, #00c35e 60%, #00be69 65%, #00ba77 70%, #00b787 75%, #00b398 80%, #00b0ab 85%, #00aebd 90%, #00acd0 95%, #00aae2 100%);
}

#premio{
  padding: 0.5rem;
  width: 80%;
  margin-bottom: 1rem;
  border: 1px dotted black;
}


/*barra incrementa-decrementa*/
.slider-container {
  display: flex;
  align-items: center;
}

#slider {
  width: 300px;
  height: 20px;
  background-color: rgb(255, 255, 255);
  position: relative;
  border: 4px solid blueviolet;
  border-radius: 1rem;
  display: flex;
 
}

#slider-button {
  width: 20px;
  height: 20px;
  background-color: blue;
  position: absolute;
  cursor: pointer;
  border-radius: 5rem;
  border: 2px solid black;
}


#irAltablero {
  margin: 1rem 33%;
 background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
}

 
#jugar button{
  margin-top: 1rem;
  background-color: rgb(40, 5, 73);
  color: aliceblue;
  font-size: large;
  padding: 0.3rem;
 
  margin-bottom: 1rem;

}
/*----------------------------------*/
.zonBtnReclamar{
  display: flex;
  justify-content: center ;
  width: 100%;
  align-items: center;
  margin-bottom: 20px;
}
button#btnReclamar {
  background-color: #f2c94c;
  color: #333;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

button#btnReclamar:hover {
  background-color: #f2b42c;
}


/*POP GANADOR*/
 
#popupGanador{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
}

#cajaGanador{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 95vh;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 90vw;
  background-image: radial-gradient(circle at 51.48% 33.1%, #ff6dbb 0, #ff67be 10%, #f960bc 20%, #d958b5 30%, #b54ea9 40%, #8f4397 50%, #6b3783 60%, #4c2d70 70%, #312560 80%, #181e52 90%, #001846 100%);
  padding: 20px;
  text-align: center;
 
}

.zonaPerdedores img{
    width: calc(50% - 10px);

}
.zonaPerdedores h3{
  color: #4fee2f;

}

#Perdedores{
  font-weight: 700;
  color: #f2b42c;
}

#txtPremio{
  border: 1px solid blanchedalmond;
  border-radius: 2rem;
  padding: 0.5rem;
}
 
.headGanador{
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
  text-shadow: 
  -1px -1px 0 #fff, /* Sombra superior izquierda (blanco) */
  1px -1px 0 #fff, /* Sombra superior derecha (blanco) */
  -1px 1px 0 #fff, /* Sombra inferior izquierda (blanco) */
  1px 1px 0 #fff;;
  
 
}

.nombreGanador{
  font-size: 36px;
  font-weight: bold;
  margin: 20px 0;
  text-shadow: 
  -1px -1px 0 #fff, /* Sombra superior izquierda (blanco) */
  1px -1px 0 #fff, /* Sombra superior derecha (blanco) */
  -1px 1px 0 #fff, /* Sombra inferior izquierda (blanco) */
  1px 1px 0 #fff;;
}
.zonaPremioGando {
  font-size: 24px;
  margin-bottom: 20px;
}

/*estilos para compartir*/
button#botonCompartir {
  background-color: #ff5f5f;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
}
button#botonCompartir:hover {
  background-color: #ff3b3b;
}

 

.redes-sociales {
  list-style: none;
  padding: 0;
  margin: 10px 0;
}

.redes-sociales li {
  display: inline-block;
  margin-right: 10px;
}

.redes-sociales li:last-child {
  margin-right: 0;
}

.redes-sociales img {
  width: 30px; /* Ajusta el tamaño de los iconos según tus necesidades */
  height: 30px;
}


 