  
/*Pop up home*/
#popupContainerHome {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
}

#tituloReto{
   display: flex;
   justify-content: space-between;
   align-items: center;
  color: white;
  background: linear-gradient(to bottom, rgba(40, 5, 73, 1), rgba(40, 5, 73, 0.5));
}

#tituloReto h2{
    margin-left: calc(30%);
}

#tituloReto span{
     border: 1px solid black;
     margin-right: 0.8rem;
     font-size: x-large;
     padding: 0.3rem 1rem;
     cursor: pointer;

}

#popupBoxHome {
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  background-color: #f4f4f4;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
}


#tituloReto span:hover {
  color: black;
  background-color: #4fee2f;
}
#btnAgregar{
  background-color: #a8033a;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 1rem;
  
}
#btnAgregar:hover {
  background-color: #d81b60;
}

.eliminar{
  background-color: rgb(74, 82, 46);
  color: aliceblue;
 
  padding: 0.3rem;
  margin-bottom: 1rem;
  

}

#jugadores{
  display: flex;
  margin: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.jugador{
  margin: 0.2rem;
}
.jugador input{
     padding: 0.5rem;
     margin-right: 0.5rem;
     background-color: rgb(214, 214, 71);
}

#premio{
  padding: 0.5rem;
  width: 80%;
  margin-bottom: 1rem;
  border: 1px dotted black;
}


/*barra incrementa-decrementa*/
.slider-container {
  display: flex;
  align-items: center;
}

#slider {
  width: 300px;
  height: 20px;
  background-color: lightgray;
  position: relative;
}

#slider-button {
  width: 20px;
  height: 20px;
  background-color: blue;
  position: absolute;
  cursor: pointer;
  border-radius: 5rem;
}


#irAltablero {
  margin: 1rem 33%;
 background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
}

 
#jugar button{
  margin-top: 1rem;
  background-color: rgb(40, 5, 73);
  color: aliceblue;
  font-size: large;
  padding: 0.3rem;
 
  margin-bottom: 1rem;

}
/*----------------------------------*/
.zonBtnReclamar{
  display: flex;
  justify-content: center ;
  width: 100%;
  align-items: center;
  margin-bottom: 20px;
}
button#btnReclamar {
  background-color: #f2c94c;
  color: #333;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

button#btnReclamar:hover {
  background-color: #f2b42c;
}


/*POP GANADOR*/
 
#popupGanador{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
}

#cajaGanador{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 95vh;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 90vw;
  background-color: #fff;
  padding: 20px;
  text-align: center;
 
}
.btnReintentar{
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
 
}

.nombreGanador{
  font-size: 36px;
  font-weight: bold;
  margin: 20px 0;
}
.zonaPremioGando {
  font-size: 24px;
  margin-bottom: 20px;
}

/*estilos para compartir*/
button#botonCompartir {
  background-color: #ff5f5f;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
}
button#botonCompartir:hover {
  background-color: #ff3b3b;
}

 

.redes-sociales {
  list-style: none;
  padding: 0;
  margin: 10px 0;
}

.redes-sociales li {
  display: inline-block;
  margin-right: 10px;
}

.redes-sociales li:last-child {
  margin-right: 0;
}

.redes-sociales img {
  width: 30px; /* Ajusta el tamaño de los iconos según tus necesidades */
  height: 30px;
}
 