/*Temporal*/

#gameT{
    
  width: 30rem;
  border: 1px solid blue;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: 1px solid gold;
  background-color: #1c1c1c;
  width: 100%;

}

.item{
  width: calc(30% - 10px);
  height: 5rem;
  background-color: #a30909;
  color: #ececec;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid beige;
  border-radius: 1rem;
}


/*ZONA JUGADORES*/


#gameContainer{
  border: 1px solid black;
  height: 1rem;
}
#zonaJugadores{
  display: flex;
  margin: 0.5rem 0.5rem;
  width: auto;
  margin-bottom: 1rem; 
}
#zonaJugadores div{
  border: 1px solid white;
  margin: 0 0;
  background-color: wheat;
  border-radius: 1rem;
  color: white;
  padding: 0.3rem;
}
#zonaJugadores .players :first-child{
  background-color: #850049;
}
#zonaJugadores .players :last-child{
  background-color: white;
  color: black
}